$highlight-offset-v: -0.3em;
$highlight-offset-h: -0.3ex;

@function rem($pixels, $context: $font-size-global) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin breakpoint($bp, $rule: min-width) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (#{$rule}: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint name `#{$bp}`.";
  }
}

@function get-z-index($index) {
  @return map-get($z-index, $index);
}

@mixin x-y-centered($display: flex, $justify: center) {
  align-items: center;
  display: $display;
  justify-content: $justify;
}

@mixin link-highlight(
  $hover-bg: $color-highlight,
  $visited-color: $color-visited,
  $visited-hover-bg: $color-visited,
  $visited-hover-color: $color-white
) {
  color: $color-link;

  &:hover {
    background-color: $hover-bg;
  }

  &:visited {
    color: $visited-color;
  }

  &:hover:visited {
    background-color: $visited-hover-bg;
    color: $visited-hover-color;
  }
}

@mixin section-highlight($color: $color-highlight) {
  border-left: 2px solid $color-text;
}

@mixin section-padding {
  padding-left: $spacing-base;
}

@mixin section-margin {
  margin-bottom: $spacing-large;
}

@mixin section {
  @include section-highlight;
  @include section-margin;
  @include section-padding;
}
