.bit {
  margin-bottom: $spacing-x-large;

  .title {
    display: inline-block;
    font-size: $font-size-base-plus;
    margin-bottom: $spacing-small;
  }

  .meta .timestamp {
    margin-left: $spacing-small;
  }

  .actions a {
    @include link-highlight(
      $color-highlight,
      $color-link,
      $color-highlight,
      $color-link
    );
    margin-right: $spacing-small;
  }
}
